<%- include("partials/header"); %>

<h1>Compose</h1>


  <form class="" action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
        <textarea class="form-control" name="postTitle" rows="1" cols="160"></textarea>
      <label>Message</label>
          <textarea class="form-contorl" name="postBody" rows="6" cols="160"></textarea>
    </div>
<button class="btn btn-primary" type="submit" name="button">Publish</button>

  </form>







<%- include("partials/footer"); %>
